@import "../../styles.scss";


.card{
	margin-top: -20px; 
}
iframe{
	width: 100vw;
	height: 600px;

	@media screen and (max-width: $TabletScreenWidth){
		 
	}

	@media screen and (max-width: $MobileScreenWidth){
		 height: 380px;
	}
}

p{
	font-size: 18px;
}