

<div materilaize="card" class="card" id="video">
    <div class="card-image waves-effect waves-block waves-light">
      
	<iframe  src="https://www.youtube.com/embed/D1H0FlvWddA" frameborder="0" allowfullscreen></iframe>

    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">開一 &#x2764; 紫箖婚紗影片<i class="material-icons right">more_vert</i></span>
      <p><a href="https://www.youtube.com/watch?v=D1H0FlvWddA">via youtube</a></p>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">開一 &#x2764; 紫箖婚紗影片<i class="material-icons right">close</i></span>
      	<p>訂婚： 2017/07/02 (Sun)</p>
		<p>結婚： 2017/12/17 (Sun)</p>
    </div>
  </div>
