<nav>
    <div materilaize="nav-wrapper"  class="nav-wrapper">
      <a href="#" class="brand-logo">
      	<img src="assets/images/navLogo.png" alt="">
      </a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a scrollTo href="#photo">相片</a></li>
        <li><a scrollTo href="#video">影片</a></li>
        <li><a scrollTo href="#calendar">資訊</a></li>
      </ul>
    </div>
  </nav>

<!-- 
  <section id="top">Bla bla bla</section>
 
 <a scrollTo href="#main-section">Scroll to main section</a>
  
 <div id="container">
    <section id="main-section">Bla bla bla</section>
    <section id="test-section">Bla bla bla</section>
</div> 
<button scrollTo scrollTargetSelector="#test-section">Scroll to test section</button>
<button scrollTo scrollTargetSelector="#top">top</button> -->