@import "../../styles.scss";


img{
	width: 100vw;
	height: 100vh;
	object-fit: cover;
	@media screen and (max-width: $TabletScreenWidth){
		 height: 90vh;
	}

	@media screen and (max-width: $MobileScreenWidth){
		 height: 90vh;
	}
}



.title{
	margin-top: -100px;
	margin-right: auto;
	margin-left: auto;
	// border:2px solid green;
	width: 200px;
	height: 50px;
	text-align: center;

	h1{
		color:#fff;
		font-family: 'Poiret One', cursive;
		font-size: 18px;
	}

}

.Loveyou{color:#fff;}