<div class="row gallery" id="photo">
	<div class="col s12 m6 l6 gLeft">

		<div class="gLink">
			<!-- google photos icon -->
			<a href="https://goo.gl/photos/Yyo8z8wX1yQCQ2vp8" target="_blank">
				<img src="assets/images/google_photos.png" alt="">
			</a>
				
			<!-- album link -->
			<p class="albumLink">
				<a href="https://goo.gl/photos/Yyo8z8wX1yQCQ2vp8" target="_blank">婚紗相簿</a>
				<i class="material-icons">&#xE5C8;</i>
			</p>
		</div>
		
	</div>
	<div class="col s12 m6 l6 gRight">
		<img src="assets/images/simplehappiness/7.jpg" alt="">
	</div>
</div>
