@import url(https://fonts.googleapis.com/css?family=Poiret+One);
@import url(http://fonts.gstatic.com/s/materialicons/v22/2fcrYFNaTjcS6g4U3t-Y5UEw0lE80llgEseQY3FEmqw.woff2);

@import url(http://fonts.googleapis.com/icon?family=Material+Icons);


/* parameter                      */
/**********************************/
 
$TabletScreenWidth:1080px;
$iPadCompactScreenWidth:992px;
$MobileScreenWidth:740px; 
$ip5ScreenWidth:570px; 
$content_width:1200px ; 



 

/**********************************/

body{
	overflow-x:hidden;
}

 


/* preloading                     */
/**********************************/
.loader {
    left: 50%;
    overflow: hidden;
    padding: 10px 0;
    position: absolute;
    top: 50%;
    transform: translate(-50%);
    width: 150px;
    
    .ball {
        background: #4885ed;
        border-radius: 5px;
        display: block;
        height: 10px;
        left: 15px;
        position: absolute;
        top: 5px;
        width: 10px;
        
        -webkit-animation-duration: 2s;
        -webkit-animation-iteration-count: infinite;
        -webkit-animation-name: along;
        -webkit-animation-timing-function: linear;
    }
    
    .ball2 {
        background: #3cba54;
        border-radius: 5px;
        display: block;
        height: 10px;
        left: 15px;
        position: absolute;
        top: 5px;
        width: 10px;
        
        -webkit-animation-duration: 2s;
        -webkit-animation-iteration-count: infinite;
        -webkit-animation-name: along;
        -webkit-animation-timing-function: linear;
         -webkit-animation-delay: -1s;
    }
    
    ul {
        margin: 0;
        padding: 0;
    }
    
    li {
        background-color: #4885ed;
        border-radius: 5px;
        display: inline-block;
        margin: 0;
        height: 10px;
        width: 30px;
        
        -webkit-animation-duration: 2s;
        -webkit-animation-iteration-count: infinite;
        -webkit-animation-name: around;
        -webkit-animation-timing-function: linear;
        
        &:nth-child(1) {
         -webkit-animation-delay: 0s;
        }
        
        &:nth-child(2) {
          background-color:#db3236;
         -webkit-animation-delay: 0.2s;
        }
    
        &:nth-child(3) {
          background-color: #f4c20d;
         -webkit-animation-delay: 0.4s;
        }
    
        &:nth-child(4) {
          background-color: #3cba54;
         -webkit-animation-delay: 0.6s;
        }
    
        &:nth-child(5) {
            background-color: #90A4AE;
            -webkit-animation-delay: 0.8s;
        }
    }
}

@-webkit-keyframes around {
  0% {
    -webkit-transform :rotate(0deg);
  }
  100% {
    -webkit-transform :rotate(359deg);    
  }
}

@-webkit-keyframes along {
    0% {
        left: 0;
        top: 5px;
    }
    5% {
        top: 3px;
    }
    10% {
        top: 5px;
    }
    15% {
        top: 3px;
    }
    20% {
        top: 5px;
    }
    25% {
        top: 3px;
    }
    30% {
        top: 5px;
    }
    35% {
        top: 3px;
    }
    40% {
        top: 5px;
    }
    45% {
        top: 3px;
    }
    50% {
        left: 100%;
        top: 5px;
    }
    100% {
        left: 100%;
    }
}
/**********************************/

.preimg{
	opacity: 0;
	display: none;
}







/* Class                          */
/**********************************/
.flexBetween{
	display: flex;
	justify-content:space-between;
}


.flexLeft{
	display: flex;
	justify-content:flex-start;
}

.flexRight{
	display: flex;
	justify-content:flex-end;
}

.flexCenter{
	display: flex;
	justify-content:center;
}

.flexAlignCenter{
	display: flex;
	align-items:center;
}

.flexJustifySpaceAround{
	display: flex;
	justify-content:space-around;
}


.flexColumn{
	display: flex;
	flex-direction:column;
}

.flexAlignEnd{
	display: flex;
	align-items:flex-end;
}

.md-18{
	font-size: 18px;
}


.md-10{
	font-size: 10px;
}

.card-2 {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.card-3 {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.card-4 {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card-5 {
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}


.triangle{
	content:"";
  	position:absolute;
  	width:0px;
  	height:0px;
  	border:8px solid transparent;
  	border-bottom-color:red;
}


//http://apps.eky.hk/css-triangle-generator/zh-hant
.triangle_left{
	content:"";
  	position:absolute;
  	width:0px;
  	height:0px;
  	border:11px solid transparent;
  	border-right-color:#fff;
}


.container{
	margin-left: auto;
	margin-right: auto;
	position: relative;
	width: 100vw;
	@media screen and(min-width: $content_width){width:$content_width;}
}


.subsidy_table{
	border-style: solid;
	border-width: 1px;
	border-color: #27AE60;

	td{
		border-style: solid;
		border-width: 1px;
		border-color: #27AE60;
	}


	&:nth-of-type(2){
		border-color: #FF5722;
		td{
			border-color: #FF5722;
		}
	}

	&:nth-of-type(3){
		border-color: #1E88E5;
		td{
			border-color: #1E88E5;
		}
	}
} 

.FloatLeft{
	position: relative;
	float: left;
}


.FloatRight{
	position: relative;
	float: right;
}
 

.spline{
	width: 3vw;
	height: 2.5px !important ;
	background-color: #2196F3;
	margin-top: 2vh;
	margin-bottom: 2vh;
	margin-left: auto;
	margin-right: auto;
 
}


 

.hideInTablet{
	display: block;
	@media screen and (max-width: $TabletScreenWidth) {
	   display: none; 
	  }
}
.hideIniPadCompact{
	display: block;
	@media screen and (max-width: $iPadCompactScreenWidth) {
	   display: none; 
	  }
}


/* Class Area                     */
/**********************************/
.containerArea{
	margin-left: auto;
	margin-right: auto;
	position: relative;
	width: 100vw;
	@media screen and(min-width: $content_width){width:$content_width;}
}

.fix_show{
	position: fixed;
	z-index: 999;
}


 
.FloatLeft{
	position: relative;
	float: left;
}


.FloatRight{
	position: relative;
	float: right;
}

.md-18{
	font-size: 18px;
}


.googleIconAndText{
	display: flex;
	align-items:center;

	i{
		margin-right: 4px;
	}
}

.card-2 {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.card-3 {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.card-4 {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card-5 {
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}
 
/**********************************/


.hideIniPadCompass{
	display:block;
	@media screen and (max-width: $iPadCompactScreenWidth){
		display: none;
	}
}


.hideInMobile{
	display: block;
	@media screen and (max-width: $MobileScreenWidth) {
		display: none;
	}
}



/*/////*/
.my-gallery {
  width: 100%;
  // height: 500px;
  // float: left; 
  display:flex;  
  flex-wrap:wrap;
  align-content:flex-start;
  justify-content:center;
}
.my-gallery img {
  width:100%;
  height: auto;
}
.my-gallery figure {
  display: block;
  float: left;
  // margin: 0 15px 15px 0;
  margin: 5px 5px;
  width:320px;
}
.my-gallery figcaption {
  display: none;
}



// *fix material icon host not work

