 
<!-- <img src="../../assets/images/anthony-delanoix-43718.jpg" alt=""> -->


<div class="row bg" id="calendar">
	<img src="assets/images/anthony-delanoix-43718.jpg" alt="">	
	<div class="col s12 m5 l5 content">
		<h2 id="engage">訂婚</h2>

		<div class="info">
			<i class="material-icons">&#xE878;</i>
			<p>2017/07/02 Sun.</p>
		</div>

		<div class="info">
			<i class="material-icons">&#xE924;</i>
			<p>12:00pm</p>
		</div>

		<div class="info pin_Large">
			<i class="material-icons">&#xE55F;</i>
			<p>
				東港-泰有味婚宴廳 / 屏東縣東港鎮新興三街200號
			</p>
		</div>  
	
		<!-- pin for mobile view -->
		<div class="info pin_Mobile">
			<i class="material-icons">&#xE55F;</i>
			<p>東港-泰有味婚宴廳</p>
		</div>

		<div class="info pin_Mobile">
			<i class="material-icons">&#xE569;</i>
			<p>屏東縣東港鎮新興三街200號</p>
		</div>

		
		
	</div>
	<div class="col s12 m5 l5 content">
		<h2 id="marriage">結婚</h2>

		<div class="info">
			<i class="material-icons">&#xE878;</i>
			<p>2017/12/17 Sun.</p>
		</div>

		<div class="info">
			<i class="material-icons">&#xE924;</i>
			<p>12:00pm</p>
		</div>

		<div class="info pin_Large">
			<i class="material-icons">&#xE55E;</i>
			<p>新營-民雄婚宴廳 / 台南市新營區隋唐街200號</p>
		</div> 

		<!-- pin for mobile view -->
		<div class="info pin_Mobile">
			<i class="material-icons">&#xE55F;</i>
			<p>新營-民雄婚宴廳</p>
		</div>

		<div class="info pin_Mobile">
			<i class="material-icons">&#xE569;</i>
			<p>台南市新營區隋唐街200號</p>
		</div>
	</div>

<!-- <img src="../../assets/images/anthony-delanoix-43718.jpg" alt=""> -->
</div>
