@import "../../styles.scss";

.row{
	width: 100vw;
	height: 600px; 
	margin-top: -13px;
	margin-bottom: 0px;
}



.bg{

	display: flex;
	justify-content:flex-end; 
	flex-direction:column;

	img{
		width: 100vw;
		height: 600px; 
		object-fit: cover;
		position: absolute;
		z-index: -10;
	}

	
}


.content{
	height: 300px;
 	margin-top: 20px;
	h2{
		color:#fff; 
		font-size: 28px;
		border-bottom: 3px solid #fff;
		width: 70px;
		height: 50px;
	}
 	@media screen and (max-width: $TabletScreenWidth){
		 
	}

	@media screen and (max-width: $MobileScreenWidth){
		  
		 h2{
			font-size: 28px;
			 width: 60px; 
		 } 


	}
}



// #engage{
// 	color:#F386A5;
// }

// #marriage{
// 	color:#B2D2EB;
// }


.info{
	display: flex;
	align-items:center;

	margin-top: -23px; 
	i,p{
		color:#fff;
		font-size: 20px;
	}

	i{
		font-size: 30px;
		margin-right: 8px;
	}


	@media screen and (max-width: $TabletScreenWidth){
		p{
		 	font-size: 17.5px;
		 }

		 i{
		 	font-size: 26px;
		 	margin-right: 10px;
		 }	   
	}

	@media screen and (max-width: $MobileScreenWidth){
		 
		 p{
		 	font-size: 17.5px;
		 }

		 i{
		 	font-size: 26px;
		 	margin-right: 10px;
		 }
	}

}


.pin_Mobile{display: none;}
@media screen and (max-width: $TabletScreenWidth){
		 .pin_Large{display: none;}
		 .pin_Mobile{
			display: flex;  
		} 
}

@media screen and (max-width: $MobileScreenWidth){
	.pin_Large{display: none;}
	.pin_Mobile{
		display: flex;  
	} 
}





